<div class="files_list container">
  <h2 class="text_center mb-5 mt-5">List of files</h2>

  <button type="button" class="button mb-2" routerLink="/pages/new-file">
    + New file
  </button>

  @if (isLoading) {
  <div class="row animate__animated animate__fadeIn">
    <div class="col-12">
      <div class="alert alert-info text-center" role="alert">
        <h4 class="alert-heading">Loading</h4>
        <i class="fa fa-spin fa-refresh fa-2x"></i>
        <p class="mb-o">Cargando...</p>
      </div>
    </div>
  </div>
  } @else {
  <div class="table_clients">
    <div class="box">
      <div class="row">
        <div class="d-flex justify-content-between mb-3">
          <h3>Files list</h3>
          <span>Amount of files ({{ total }})</span>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Size (bytes)</th>
                <th class="text-nowrap">Acciones</th>
              </tr>
            </thead>
            <tbody class="animate__animated animate__fadeIn">
              @for (file of files; track $index) {
              <tr>
                <td>{{ file.id }}</td>
                <td>{{ file.name }}</td>
                <td>{{ file.status }}</td>
                <td>{{ file.size }}</td>
                <td class="hstack gap-3">
                  <a
                    class="ancor_action"
                    (click)="downloadFile(file.id)"
                    title="Download"
                    data-toggle="tooltip"
                    data-original-title="Download"
                  >
                    <i class="bi bi-cloud-arrow-down action_icon_see"></i>
                  </a>
                  <a
                    class="ancor_action"
                    [routerLink]="'/pages/update-file/' + file.id"
                    title="Edit"
                    data-toggle="tooltip"
                    data-original-title="Edit"
                  >
                    <i class="bi bi-pencil-square action_icon_edit ms-2"></i>
                  </a>
                </td>
              </tr>
              } @if (!isLoading && !files.length) {
              <tr>
                <div class="w-100 d-flex justify-content-start">
                  <div class="alert alert-warning">
                    "Does not exists files in the system by now"
                  </div>
                </div>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <!-- END TABLE -->
      </div>
      <!-- END ROW -->
    </div>
    <!-- End BOX -->
  </div>
  }

  <!-- Pagination -->
  @if (total) {
  <div class="d-flex justify-content-center w_100 mt-4">
    <app-pagination
      [total]="total"
      [factor]="limit"
      (offsetEmitter)="detectChangeOffset($event)"
    ></app-pagination>
  </div>
  }
</div>
