<div class="footer">
  <div class="footer_content container">
    <strong class="footer_title">Cuban Engineer</strong>

    <div class="footer_pages">
      <strong class="text_center">Pages</strong>
      <ul class="footer_links">
        <li class="link" routerLink="/pages/home">Home</li>
        <li class="link" routerLink="/pages/login">Login</li>
        <li class="link" routerLink="/pages/register">Register</li>
      </ul>
    </div>

    <section class="copyright mt-4">
      <p>Copyright © 2024 Cuban Engineer</p>
    </section>
  </div>
</div>
